.container {
    position: relative;
}

.landing {
    position: sticky;
    top: 0;

    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    inset: -10%;

    background: url('/images/background.webp') center/cover no-repeat;
    filter: brightness(.4) blur(5px) ;

    will-change: transform;
}

.next {
    position: relative;
    z-index: 2;

    min-height: 200vh;
    background: rgb(0, 0, 0);
}